body{
    background-color: rgb(110, 88, 58);
    background-image: url('1307132.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;

}

.åtteGangerÅtte{
    border: 20px solid grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.knapper{
    background-color: teal;
    height: 50px; 
    width: 100px;
    border:2px solid black;
}
#meny{
    margin-left: 1vmin;
}

.knapper:hover{
    background-color: grey;
}

.bilde{
    width: 100px; 
    height: 100px;
}

.firkantA{
    background-color: rgb(32, 32, 32);
    border: 1px solid black;
    line-height: 100px;
    text-align: center;
    font-size: 70px;
    height: 100px;
    width: 100px;
}

.firkantB{
    background-color: rgb(236, 231, 231);
    border: 1px solid black;
    line-height: 100px;
    text-align: center;
    font-size: 70px;
    height: 100px;
    width: 100px;
}
